.LI-profile-badge {
  transform: scale(0.9);
  transform-origin: top center;
  width: 100%;
  animation: popIn 0.5s ease-in-out;
  margin-top: 15vh;
}
@media (max-width: 480px) {
  .LI-profile-badge {
    transform: scale(0.8);
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
