/* Import the Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* Font for page */
body {
  font-family: "Roboto Slab", serif;
  background-color: ghostwhite;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #1e3a5f;
  padding-top: 2rem;
  transition:
    transform 1.75s ease,
    opacity 0.75s ease;
  z-index: 1000;
}

.navbar-collapse {
  padding-top: 10px;
}

.navbar nav {
  display: flex;
  justify-content: center;
}

.navbar li {
  list-style: none;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  color: #1e3a5f;
}

.navbar a {
  color: #1e3a5f;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* Hidden state */
.navbar.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28134, 134, 134, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
