/* Import the Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* Font for page */
body {
  font-family: "Roboto Slab", serif;
  background-color: ghostwhite;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: ghostwhite;
  color: black;
  padding-top: 2rem;
  transition: transform 1.75s ease, opacity 0.75s ease;
  z-index: 1000;
}

.navbar-collapse {
  padding-top: 10px;
  
}

.navbar nav {
  display: flex;
  justify-content: center;
}

.navbar li {
  list-style: none;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* Hidden state */
.navbar.hide {
  transform: translateY(-100%);
  opacity: 0;
}
